# Provider
PROVIDER=airnow
AIRNOW_API_KEY="YOUR API KEY"

# Database
DB_URL=sqlite:///aqi.db

# Thresholds & behavior
ALERT_DEFAULT_THRESHOLD_PM25=35
QUIET_HOURS_START=22:00
QUIET_HOURS_END=07:00
DEDUPE_MINUTES=180

# Email (SMTP) — use an app password if using Gmail
EMAIL_ENABLED=true
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_USERNAME=YOUREMAIL
EMAIL_PASSWORD=YOUR16DIGITPASSWORD
EMAIL_FROM=YOUREMAIl
EMAIL_TO=WHOITISBEINGSENTTO,CANBELISTOFSUBSCRIBERS
